/* App.css */

body {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    font-size: 20px; /* Adjust the font size as needed */
    font-family: 'Courier New', monospace; /* Use a monospace font for a Matrix-like effect */
  }
  
  button {
    background-color: white; /* Set button background color to white */
    color: black; /* Set button text color to black */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: black; /* Change button background color on hover */
    color: white; /* Change button text color on hover */
  }
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }
  
  footer a {
    color: neonGreen; /* You can adjust the link color as needed */
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }